@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=popins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.fa-bars {
  font-size: 1.5em;
  float: right;
}

.nombre {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1em;
  font-stretch: expanded;
  padding: 15% 5% 0 5%;
  background: transparent;
  background-color: transparent;
}

.intro {
  font-family: 'popins', sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1em;
  font-stretch: expanded;
  padding: 0 5% 0 5%;
}

header {
  background-image: url('landing.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left top;
  mix-blend-mode: multiply;
}

nav{
  margin-top: 0;
}